.comment--crap {
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.75s;
	transition-duration: 0.75s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.comment--crap:hover {
	opacity: 1;
}